@import "../mixins";
@import "../universalStyles";

/* ================ START OF MAIN PAGE ==================== */

main {
  @include flexBox(column, center, center);
  padding: 0 10% 0 10%;
  margin-top: 46px;
}


/* ======= ABOUT US CONTAINER START ======= */
.aboutUsContainer {
  @include flexBox(row, space-between, center);
  width: 100%;
  //max-width: 1140px;
  //margin: 5% 10%;
  gap: 45px;
  margin-bottom: 100px;


  .aboutUsInfoContainer {
    @include flexBox(column, center, start);
    gap: 24px;
    width: 50%;
    h1 {
      font-size: 4.2rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 24px;
    }

    a {
      background-color: #00798A;
      color: #ffffff;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 8px;
      font-size: 1.6rem;
      text-align: center;
    }
  }
}
/* ======= ABOUT US CONTAINER END ======= */


/* ======= EVENTS CONTAINER START ======= */
.eventsContainer {
  @include flexBox(row, space-between, center);
  //max-width: 1140px;
  width: 100%;
  margin-top: 24px;

  .leftEventContainer {
    @include flexBox(row, space-between, center);
    gap: 25px;

    h3 {
      font-size: 2.8rem;
    }

    button {
      background-color: #97CAD11F;
      border: none;
      border-radius: 8px;
      @include flexBox(row, center, center);
      gap: 8px;
      padding: 12px 12px 8px 12px;

      span {
        font-size: 2.0rem;
        color: #00798A;
      }
    }
  }

  .seeAllEventsContainer {
    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #00798A;
    }
  }
}


/* ======= EVENTS CONTAINER END ======= */


/* ======= NEAR EVENTS CONTAINER START ======= */

.nearEventsContainer {
  @include flexBox(row, space-between, normal);
  flex-wrap: wrap;
  gap: 36px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
  //margin: 24px 100px 0 100px;

  div {
    padding-bottom: 10px;
    max-width: 272px;
    max-height: 400px;
  }

  hr {
    display: none;
  }

  .eventInfoContainer {
    @include flexBox(column, center, start);
    gap: 10px;
    h4 {
      font-size: 2.0rem;
      font-weight: 600;
    }

    p {
      font-size: 1.4rem;

      color: #212121;
    }

    .eventLocationInfo {
      color: #707070;
    }

    .eventDateInfo:before {
      content: url("/assets/mainPage/main/calendar_icon.svg");
      @include iconInlineAlign();
    }

    .additionEventInfoContainer {
      @include flexBox(row, start, center);
      gap: 16px;
      .membersWaitingInfo {
        font-size: 1.6rem;
        &:before {
          content: url("/assets/mainPage/main/check_icon.svg");
           @include iconInlineAlign();
        }
      }

      .paidInfo {
        font-size: 1.6rem;
        &:before {
          content: url("/assets/mainPage/main/ticket_icon.svg");
           @include iconInlineAlign();
        }
      }
    }
  }
}


/* ======= NEAR EVENTS CONTAINER END ======= */

/* ======= UPCOMING EVENTS CONTAINER START ======= */
.upcomingEventsContainer {
  @extend .nearEventsContainer;
}
/* ======= UPCOMING EVENTS CONTAINER END ======= */

/* ======= JOIN CONTAINER START ======= */
.joinContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;//Колонки( вверх/вниз)
  column-gap: 20px;
  background-color: #97CAD114;
  border-radius: 8px;
  padding: 16px 56px;
  margin-bottom: 64px;

  #joinImg {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: end;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 24px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  a {
    width: 192px;
    height: 40px;
    border: none;
    background-color: #E32359;
    color: #ffffff;
    padding: 8px 66px;
    border-radius: 8px;
    text-decoration: none;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    font-size: 1.6rem;
  }
}
/* ======= JOIN CONTAINER END ======= */


/* ======= TOP CATEGORIES CONTAINER START ======= */

.topCategoriesContainer {
  width: 100%;
  margin-bottom: 24px;
  h2 {
    font-size: 2.8rem;
    margin-bottom: 24px;
  }
}

.topCategoriesList {
  @include flexBox(row, center, normal);
  flex-wrap: wrap;
  gap: 16px;

  div {
    width: 135px;
    height: 112px;
    background-color: #97CAD114;
    border-radius: 8px;
    @include flexBox(column, center, center);
    gap: 6px;
    padding: 16px;

    p {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}

/* ======= TOP CATEGORIES CONTAINER END ======= */



/* ======= POPULAR CITIES CONTAINER START ======= */

.popularCitiesContainer {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 24px;
  h2 {
    font-size: 2.8rem;
    margin-bottom: 24px;
  }

  p {
    font-size: 1.6rem;
    color: #707070;
  }
}

.popularCitiesList {
  @include flexBox(row, center, normal);
  flex-wrap: wrap;
  gap: 42px;
  margin-top: 28px;
  margin-bottom: 40px;

  div {
    //width: 135px;
    //height: 112px;
    //background-color: #97CAD114;
    //border-radius: 8px;
    @include flexBox(column, center, center);
    gap: 24px;
    //padding: 16px;

    p {
      font-size: 2.0rem;
      text-align: center;
    }
  }
}

/* ======= POPULAR CITIES CONTAINER END ======= */



/* ======= HOW MEET WORKS CONTAINER START ======= */

.howMeetWorksContainer {
  width: 100%;
  margin-bottom: 40px;
  h2 {
    font-size: 2.8rem;
    margin-bottom: 24px;
  }

}

.howMeetWorksList {
  @include flexBox(row, space-between, center);
  gap: 32px;
  //flex-wrap: wrap;
  .howMeetWorksSubContainer {
    @include flexBox(row, start, start);
    gap: 24px;
    background-color: #97CAD114;
    border-radius: 8px;
    padding: 32px 24px;
    width: 580px;
  }

  .howMeetWorksImgContainer {
    @include flexBox(column, start, start);
  }

  .howMeetWorksInfoContainer {
    @include flexBox(column, start, start);
    gap: 16px;
    max-width: 380px;
    h4 {
      font-size: 2.0rem;
    }

    p {
      font-size: 1.6rem;
    }

    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: #00798A;
    }
  }
}

/* ======= HOW MEET WORKS CONTAINER END ======= */




/* ======= FRIENDSHIPS MEET CONTAINER START ======= */

.friendshipsMeetContainer {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 24px;

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    color: #707070;
    line-height: 24px;
  }

  .friendshipsDesc {
    max-width: 895px;
    margin-bottom: 28px;
  }
}

.friendshipsFeaturesList {
  @include flexBox(row, center, normal);
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 24px;

  div {
    @include flexBox(column, start, start);
    gap: 12px;
    max-width: 376px;

    img {
      margin-bottom: 12px;
      width: 100%;
    }
    h4 {
      font-size: 1.8rem;
      color: #212121;
    }

    p {
      font-size: 1.6rem;
      line-height: 24px;
    }

    a {
      font-size: 1.6rem;
      margin-top: 4px;
      text-decoration: none;
      color: #00798A;
    }
  }
}

/* ======= FRIENDSHIPS MEET CONTAINER END ======= */

/* ================ END OF MAIN PAGE ==================== */

/* ================ START OF FOOTER ==================== */
footer {
  background-color: #212121;
  padding: 35px 195px;


}


.footerInfoContainer {
  @include flexBox(row, start, center);
  //flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #707070;

  h4 {
    font-size: 1.6rem;
    color: #ffffff;
  }

  button {
    border-radius: 6px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    padding: 10px 25px 10px 14px;
    //margin-bottom: 25px;
  }
}

.footerLinksContainer {
  @include flexBox(row, start, start);
  margin-top: 24px;
  //flex-wrap: wrap;
  div {
    @include flexBox(column, start, start);
    width: 100%;
    gap: 7px;
    h4 {
      font-size: 1.6rem;
      color: #F6F7F8;
    }

    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: #C5C4C4;
    }
  }
}


.followsLinks {
  @include flexBox(row, space-between, center);
  margin-top: 24px;
  flex-wrap: wrap;

  .followContainer {
    @include flexBox(column, center, start);

    h4 {
      font-size: 1.6rem;
      color: #F6F7F8;
    }
  }

  .socialPagesContainer {
    @include flexBox(row, space-between, center);
    margin-top: 12px;
    margin-bottom: 24px;
    gap: 35px;
  }

  .downloadsStoresContainer {
    @include flexBox(row, space-between, center);
    gap: 24px;
    margin-bottom: 24px;
  }
}

.footerAdditionInfoContainer {
  @include flexBox(row, start, center);

  flex-wrap: wrap;
  gap: 24px;
  p {
    font-size: 1.4rem;
    color: #ffffff;
  }

  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #C5C4C4;
  }
}
//35px 25px
/* ================ END OF FOOTER ==================== */








