@import "../mixins";
@import "../universalStyles";
@import "../constants";

/* ================ START OF MAIN PAGE ==================== */

main {
  @include flexBox(column, center, center);
  padding: 0 10% 0 10%;
  margin-top: 46px;
  gap: 40px;
}


/* ======= ABOUT US CONTAINER START ======= */
.aboutUsContainer {
  @include flexBox(row, space-between, center);
  width: $width100;
  gap: 45px;
  margin-bottom: 80px;


  .aboutUsInfoContainer {
    @include flexBox(column, center, start);
    gap: 24px;
    width: 50%;
    h1 {
      font-size: 4.2rem;
    }

    p {
      font-size: $fzMedium;
      line-height: $lineHeight;
    }

    a {
      background-color: $aquaBlueBg;
      color: $whiteFont;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: $borderRadius8x;
      font-size: $fzMedium;
      text-align: center;
    }
  }
}
/* ======= ABOUT US CONTAINER END ======= */


/* ======= EVENTS CONTAINER START ======= */
.eventsContainer {
  @include flexBox(row, space-between, center);
  //max-width: 1140px;
  width: $width100;
  margin-top: 24px;

  .leftEventContainer {
    @include flexBox(row, space-between, center);
    gap: 25px;

    h3 {
      font-size: $fzBig28;
    }

    button {
      background-color: #97CAD11F;
      border: none;
      border-radius: $borderRadius8x;
      @include flexBox(row, center, center);
      gap: 8px;
      padding: 12px 12px 8px 12px;

      span {
        font-size: $fzMedium2;
        color: $aquaBlueFont;
      }
    }
  }

  .seeAllEventsContainer {
    a {
      text-decoration: none;
      font-size: $fzMedium;
      color: $aquaBlueFont;
    }
  }
}


/* ======= EVENTS CONTAINER END ======= */


/* ======= NEAR EVENTS CONTAINER START ======= */

.nearEvents {
  margin-top: 24px;
  margin-bottom: 36px;
}

.nearEventsContainer {
  @include flexBox(row, space-between, normal);
  flex-wrap: wrap;
  gap: 36px;
  width: $width100;
  margin-top: 24px;


  div {
    padding-bottom: 10px;
    max-width: 272px;
    max-height: 400px;
  }

  hr {
    display: none;
  }

  .eventInfoContainer {
    @include flexBox(column, center, start);
    gap: 10px;
    h4 {
      font-size: $fzMedium2;
      font-weight: 600;
    }

    p {
      font-size: 1.4rem;
      color: $darkGrayFont;
    }

    .eventLocationInfo {
      color: $grayFont;
    }

    .eventDateInfo:before {
      content: url("/assets/mainPage/main/calendar_icon.svg");
      @include iconInlineAlign();
    }

    .additionEventInfoContainer {
      @include flexBox(row, start, center);
      gap: 16px;
      .membersWaitingInfo {
        font-size: $fzMedium;
        &:before {
          content: url("/assets/mainPage/main/check_icon.svg");
           @include iconInlineAlign();
        }
      }

      .paidInfo {
        font-size: $fzMedium;
        &:before {
          content: url("/assets/mainPage/main/ticket_icon.svg");
           @include iconInlineAlign();
        }
      }
    }
  }
}


/* ======= NEAR EVENTS CONTAINER END ======= */

/* ======= UPCOMING EVENTS CONTAINER START ======= */

.upcomingEvents {
  margin-bottom: 24px;
}

.upcomingEventsContainer {
  @extend .nearEventsContainer;
}
/* ======= UPCOMING EVENTS CONTAINER END ======= */

/* ======= JOIN CONTAINER START ======= */
.joinContainer {
  width: $width100;
  display: grid;
  grid-template-columns: 2fr 1fr;//Колонки( вверх/вниз)
  column-gap: 20px;
  background-color: #97CAD114;
  border-radius: $borderRadius8x;
  padding: 16px 56px;
  //margin-bottom: 64px;

  #joinImg {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: end;
  }

  h2 {
    font-size: $fzBig28;
  }

  p {
    font-size: $fzMedium;
    line-height: $lineHeight;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  a {
    width: 192px;
    height: 40px;
    border: none;
    background-color: #E32359;
    color: $whiteFont;
    padding: 8px 66px;
    border-radius: $borderRadius8x;
    text-decoration: none;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    font-size: $fzMedium;
  }
}
/* ======= JOIN CONTAINER END ======= */


/* ======= TOP CATEGORIES CONTAINER START ======= */

.topCategoriesContainer {
  width: $width100;
  margin-top: $marginT;
  margin-bottom: $marginB;
  h2 {
    font-size: $fzBig28;
    margin-bottom: 24px;
  }
}

.topCategoriesList {
  @include flexBox(row, center, normal);
  flex-wrap: wrap;
  gap: 16px;

  div {
    width: 135px;
    height: 112px;
    background-color: #97CAD114;
    border-radius: $borderRadius8x;
    @include flexBox(column, center, center);
    gap: 6px;
    padding: 16px;

    p {
      font-size: $fzMedium;
      text-align: center;
    }
  }
}

/* ======= TOP CATEGORIES CONTAINER END ======= */



/* ======= POPULAR CITIES CONTAINER START ======= */

.popularCitiesContainer {
  width: $width100;
  margin-top: $marginT;
  //margin-bottom: $marginB;
  h2 {
    font-size: $fzBig28;
    margin-bottom: 24px;
  }

  p {
    font-size: $fzMedium;
    color: $grayFont;
  }
}

.popularCitiesList {
  @include flexBox(row, center, normal);
  flex-wrap: wrap;
  gap: 42px;
  margin-top: 28px;
  //margin-bottom: 40px;

  div {
    @include flexBox(column, center, center);
    gap: 24px;

    p {
      font-size: $fzMedium2;
      text-align: center;
    }
  }
}

/* ======= POPULAR CITIES CONTAINER END ======= */



/* ======= HOW MEET WORKS CONTAINER START ======= */

.howMeetWorksContainer {
  width: $width100;
  margin-top: $marginT;
  //margin-bottom: 40px;
  h2 {
    font-size: $fzBig28;
    margin-bottom: 24px;
  }

}

.howMeetWorksList {
  @include flexBox(row, space-between, center);
  gap: 32px;
  //flex-wrap: wrap;
  .howMeetWorksSubContainer {
    @include flexBox(row, start, start);
    gap: 24px;
    background-color: #97CAD114;
    border-radius: $borderRadius8x;
    padding: 32px 24px;
    width: 580px;
  }

  .howMeetWorksImgContainer {
    @include flexBox(column, start, start);
  }

  .howMeetWorksInfoContainer {
    @include flexBox(column, start, start);
    gap: 16px;
    max-width: 380px;
    h4 {
      font-size: $fzMedium2;
    }

    p {
      font-size: $fzMedium;
    }

    a {
      font-size: $fzMedium;
      text-decoration: none;
      color: $aquaBlueFont;
    }
  }
}

/* ======= HOW MEET WORKS CONTAINER END ======= */




/* ======= FRIENDSHIPS MEET CONTAINER START ======= */

.friendshipsMeetContainer {
  width: $width100;
  margin-top: $marginT;
  margin-bottom: $marginB;

  h2 {
    font-size: $fzBig28;
  }

  p {
    font-size: $fzMedium;
    color: $grayFont;
    line-height: $lineHeight;
  }

  .friendshipsDesc {
    max-width: 895px;
    margin-bottom: 28px;
  }
}

.friendshipsFeaturesList {
  @include flexBox(row, center, normal);
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: $marginB;

  div {
    @include flexBox(column, start, start);
    gap: 12px;
    max-width: 376px;

    img {
      margin-bottom: 12px;
      width: 100%;
    }
    h4 {
      font-size: 1.8rem;
      color: $darkGrayFont;
    }

    p {
      font-size: $fzMedium;
      line-height: $lineHeight;
    }

    a {
      font-size: $fzMedium;
      margin-top: 4px;
      text-decoration: none;
      color: $aquaBlueFont;
    }
  }
}

/* ======= FRIENDSHIPS MEET CONTAINER END ======= */

/* ================ END OF MAIN PAGE ==================== */









