@import "../mixins";

/* ================ START OF ADAPTIVE 768px ==================== */
@media screen and (max-width: 768px) {
  /* ================ START OF NAV ==================== */
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    margin: 0;
  }

  /* ======= LOGO CONTAINER START ======= */

  .logoContainer {
    margin-left: 24px;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  /* ======= LOGO CONTAINER END ======= */

  /* ======= SEARCH CONTAINER START ======= */
  .searchContainer {
    grid-column: span 2;

    #searchInput {
      width: 80vw;
      border-right: none;
    }

    #searchCityInput {
      display: none;
    }
  }
  /* ======= SEARCH CONTAINER END ======= */

  /* ======= RIGHT CONTAINER START ======= */
  .rightNavContainer {
    grid-row-start: 1;
    grid-column-start: 2;
    @include flexBox(row, end, center);
    gap: 16px;
    margin-right: 8px;

    a {
      font-size: 1.2rem;
    }
  }
  /* ======= RIGHT CONTAINER END ======= */

  /* ================ END OF NAV ==================== */


  /* ================ START OF MAIN PAGE ==================== */

  main {
    @include flexBox(column, center, center);
  }

  .aboutUsContainer {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    .aboutUsInfoContainer {
      gap: 20px;
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 24px;
      }

      a {
        display: none;
      }
    }

    .aboutUsImgContainer {
      img {
        width: 240px;
      }
    }

  }

  /* ================ END OF MAIN PAGE ==================== */



  /* ======= EVENTS CONTAINER START ======= */
  .eventsContainer {
    width: 100%;


    .leftEventContainer {
      h3 {
        font-size: 2.0rem;
      }

      button {
        span {
          font-size: 1.4rem;
        }
      }
    }

    .seeAllEventsContainer {
      display: none;
    }
  }


  /* ======= EVENTS CONTAINER END ======= */

  /* ======= NEAR EVENTS CONTAINER START ======= */
  .nearEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 160px;
        height: 100px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
          color: #7C6F50;
        }
      }
    }
  }
  /* ======= NEAR EVENTS CONTAINER END ======= */

  /* ======= UPCOMING EVENTS CONTAINER START ======= */
  .upcomingEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 160px;
        height: 100px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
          color: #7C6F50;
        }
      }
    }
  }
  /* ======= UPCOMING EVENTS CONTAINER END ======= */



  /* ======= JOIN CONTAINER START ======= */
  .joinContainer {
    @include flexBox(column, center, center);
    gap: 6px;

    h2 {
      align-self: flex-start;
    }

    p {
      line-height: 24px;
    }

    button {
      margin-top: 16px;
    }

  }
  /* ======= JOIN CONTAINER END ======= */



  /* ======= HOW MEET WORKS CONTAINER START ======= */

  .howMeetWorksContainer {

    h2 {
      font-size: 2.0rem;

    }

  }

  .howMeetWorksList {
    @include flexBox(column, center, center);
    gap: 12px;
    ////flex-wrap: wrap;
    .howMeetWorksSubContainer {

      width: 100%;
    }

  }

  /* ======= HOW MEET WORKS CONTAINER END ======= */







  /* ================ START OF FOOTER ==================== */
  footer {
    padding: 35px 25px;
  }



  /* ================ END OF FOOTER ==================== */
}
/* ================ END OF ADAPTIVE 768px ==================== */

/* ================ START OF ADAPTIVE 426px ==================== */
@media screen and (max-width: 426px) {

  main {
    padding: 0 15px 0 15px;
  }

  /* ======= NEAR EVENTS CONTAINER START ======= */
  .nearEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 130px;
        height: 70px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
         font-size: 1.0rem;
        }

        p {
          font-size: 1.0rem;
        }

        .additionEventInfoContainer {

          .membersWaitingInfo {
            font-size: 1.0rem;

          }

          .paidInfo {
            font-size: 1.0rem;

          }
        }
      }
    }
  }
  /* ======= NEAR EVENTS CONTAINER END ======= */

  /* ======= UPCOMING EVENTS CONTAINER START ======= */
  .upcomingEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 130px;
        height: 70px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
          font-size: 1.0rem;
        }

        p {
          font-size: 1.0rem;
        }

        .additionEventInfoContainer {

          .membersWaitingInfo {
            font-size: 1.0rem;

          }

          .paidInfo {
            font-size: 1.0rem;

          }
        }
      }
    }
  }
  /* ======= UPCOMING EVENTS CONTAINER END ======= */




  /* ======= JOIN CONTAINER START ======= */
  .joinContainer {
    padding: 16px 15px;

    h2 {
      font-size: 2.0rem;
    }

    #joinImg {
      width: 240px;
    }

    p {
      font-size: 1.2rem;
    }
  }
  /* ======= JOIN CONTAINER END ======= */



  /* ======= TOP CATEGORIES CONTAINER START ======= */

  .topCategoriesContainer {
    h2 {
      font-size: 2.0rem;

    }
  }


  /* ======= TOP CATEGORIES CONTAINER END ======= */



  /* ======= POPULAR CITIES CONTAINER START ======= */

  .popularCitiesContainer {
    margin-top: 24px;
    margin-bottom: 24px;
    h2 {
      font-size: 2.0rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;

    }
  }

  .popularCitiesList {
    //@include flexBox(row, center, normal);
    //flex-wrap: wrap;
    gap: 18px;
    //margin-top: 28px;
    //
    div {
      width: 155px;

      img {
        width: 100%;
      }
      //height: 112px;
      //background-color: #97CAD114;
      //border-radius: 8px;
      //@include flexBox(column, center, center);
      //gap: 24px;
      ////padding: 16px;
      //
      //p {
      //  font-size: 2.0rem;
      //  text-align: center;
      //}
    }
  }

  /* ======= POPULAR CITIES CONTAINER END ======= */



  /* ======= HOW MEET WORKS CONTAINER START ======= */

  .howMeetWorksContainer {

    h2 {
      margin-bottom: 18px;
    }

  }

  .howMeetWorksList {
    @include flexBox(column, center, center);
    gap: 12px;
    ////flex-wrap: wrap;
    .howMeetWorksSubContainer {
      width: 100%;
      gap: 12px;
    }

    .howMeetWorksImgContainer {
      img {
        width: 25px;
      }
    }

    .howMeetWorksInfoContainer {
      h4 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1.0rem;
      }

      a {
        font-size: 1.0rem;
      }
    }

  }

  /* ======= HOW MEET WORKS CONTAINER END ======= */



  /* ======= FRIENDSHIPS MEET CONTAINER START ======= */

  .friendshipsMeetContainer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 24px;

    h2 {
      font-size: 2.0rem;
    }

    .friendshipsDesc {
      display: none;
    }
  }

  .friendshipsFeaturesList {
    @include flexBox(row, center, normal);
    flex-wrap: wrap;
    gap: 32px;

    margin-top: 24px;
    div {
      h4 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
      }

      a {
        font-size: 1.2rem;
      }
    }
  }

  /* ======= FRIENDSHIPS MEET CONTAINER END ======= */





  /* ================ START OF FOOTER ==================== */

  .footerInfoContainer {
    gap: 5px;
  }

  .footerLinksContainer {
    gap: 5px;
  }

  .followsLinks {
    .downloadsStoresContainer {
      display: none;
    }

  }
  .footerAdditionInfoContainer {
    a {
      display: none;
    }
  }

  /* ================ END OF FOOTER ==================== */
}
/* ================ END OF ADAPTIVE 426px ==================== */
//@media screen and (min-width: 600px)


