@import "../mixins";

@media screen and (max-width: 768px) {
  /* ================ START OF NAV ==================== */
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    margin: 0;
  }

  /* ======= LOGO CONTAINER START ======= */

  .logoContainer {
    margin-left: 24px;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  /* ======= LOGO CONTAINER END ======= */

  /* ======= SEARCH CONTAINER START ======= */
  .searchContainer {
    grid-column: span 2;

    #searchInput {
      width: 80vw;
      border-right: none;
    }

    #searchCityInput {
      display: none;
    }
  }
  /* ======= SEARCH CONTAINER END ======= */

  /* ======= RIGHT CONTAINER START ======= */
  .rightNavContainer {
    grid-row-start: 1;
    grid-column-start: 2;
    @include flexBox(row, end, center);
    gap: 16px;
    margin-right: 8px;

    a {
      font-size: 1.2rem;
    }
  }
  /* ======= RIGHT CONTAINER END ======= */

  /* ================ END OF NAV ==================== */


  /* ================ START OF MAIN PAGE ==================== */

  main {
    @include flexBox(column, center, center);
  }

  .aboutUsContainer {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    .aboutUsInfoContainer {
      gap: 20px;
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 24px;
      }

      a {
        display: none;
      }
    }

    .aboutUsImgContainer {
      img {
        width: 240px;
      }
    }

  }

  /* ================ END OF MAIN PAGE ==================== */



  /* ======= EVENTS CONTAINER START ======= */
  .eventsContainer {
    width: 100%;


    .leftEventContainer {
      h3 {
        font-size: 2.0rem;
      }

      button {
        span {
          font-size: 1.4rem;
        }
      }
    }

    .seeAllEventsContainer {
      display: none;
    }
  }


  /* ======= EVENTS CONTAINER END ======= */

  /* ======= NEAR EVENTS CONTAINER START ======= */
  .nearEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 160px;
        height: 100px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
          color: #7C6F50;
        }
      }
    }
  }
  /* ======= NEAR EVENTS CONTAINER END ======= */

  /* ======= UPCOMING EVENTS CONTAINER START ======= */
  .upcomingEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 160px;
        height: 100px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
          color: #7C6F50;
        }
      }
    }
  }
  /* ======= UPCOMING EVENTS CONTAINER END ======= */



  /* ======= JOIN CONTAINER START ======= */
  .joinContainer {
    @include flexBox(column, center, center);

    h2 {
      justify-content: center;
    }

    //.joinRightContainer {
    //  grid-column-start: 1;
    //
    //  img {
    //    width: 100%;
    //  }
    //}

    //@include flexBox(column, space-between, center);
    //background-color: #97CAD114;
    //width: 100%;
    //border-radius: 8px;
    //padding: 36px 56px;
    //margin-bottom: 64px;
    //
    //.joinLeftContainer {
    //  @include flexBox(column, center, start);
    //  gap: 16px;
    //  width: 50%;
    //  h2 {
    //    font-size: 2.0rem;
    //  }
    //
    //  p {
    //    font-size: 1.2rem;
    //  }
    //
    //  button {
    //
    //  }
    //}
    //
    //.joinRightContainer {
    //  img {
    //    width: 100%;
    //  }
    //}
  }
  /* ======= JOIN CONTAINER END ======= */
}


@media screen and (max-width: 425px) {

  main {

    padding: 0 15px 0 15px;
  }

  /* ======= NEAR EVENTS CONTAINER START ======= */
  .nearEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 130px;
        height: 70px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
         font-size: 1.0rem;
        }

        p {
          font-size: 1.0rem;
        }

        .additionEventInfoContainer {

          .membersWaitingInfo {
            font-size: 1.0rem;

          }

          .paidInfo {
            font-size: 1.0rem;

          }
        }
      }
    }
  }
  /* ======= NEAR EVENTS CONTAINER END ======= */

  /* ======= UPCOMING EVENTS CONTAINER START ======= */
  .upcomingEventsContainer {
    @include flexBox(column, center, normal);

    hr {
      display: initial;
      width: 100%;
      border: 1px solid #D9D9D9;
    }

    div {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 20px;

      img {
        width: 130px;
        height: 70px;
      }

      .eventInfoContainer {
        @include flexBox(column, center, start);

        h4 {
          font-size: 1.0rem;
        }

        p {
          font-size: 1.0rem;
        }

        .additionEventInfoContainer {

          .membersWaitingInfo {
            font-size: 1.0rem;

          }

          .paidInfo {
            font-size: 1.0rem;

          }
        }
      }
    }
  }
  /* ======= UPCOMING EVENTS CONTAINER END ======= */
}
//@media screen and (min-width: 600px)


