@import "../mixins";

@media screen and (max-width: 768px) {
  /* ================ START OF NAV ==================== */
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    margin: 0;
  }

  /* ======= LOGO CONTAINER START ======= */

  .logoContainer {
    margin-left: 24px;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  /* ======= LOGO CONTAINER END ======= */

  /* ======= SEARCH CONTAINER START ======= */
  .searchContainer {
    grid-column: span 2;

    #searchInput {
      width: 80vw;
      border-right: none;
    }

    #searchCityInput {
      display: none;
    }
  }
  /* ======= SEARCH CONTAINER END ======= */

  /* ======= RIGHT CONTAINER START ======= */
  .rightNavContainer {
    grid-row-start: 1;
    grid-column-start: 2;
    @include flexBox(row, end, center);
    gap: 16px;
    margin-right: 8px;

    a {
      font-size: 1.2rem;
    }
  }
  /* ======= RIGHT CONTAINER END ======= */

  /* ================ END OF NAV ==================== */


  /* ================ START OF MAIN PAGE ==================== */

  main {
    @include flexBox(column, center, center);
  }

  .aboutUsContainer {
    gap: 20px;
    flex-wrap: wrap;

    .aboutUsInfoContainer {
      gap: 20px;
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 24px;
      }

      a {
        display: none;
      }
    }

    .aboutUsImgContainer {
      img {
        width: 240px;
      }
    }

  }

  /* ================ END OF MAIN PAGE ==================== */



  /* ======= EVENTS CONTAINER START ======= */
  .eventsContainer {
    width: 100%;
    justify-content: center;

    .leftEventContainer {
      h3 {
        font-size: 2.0rem;
      }

      button {
        span {
          font-size: 1.4rem;
        }
      }
    }

    .seeAllEventsContainer {
      display: none;
    }
  }


  /* ======= EVENTS CONTAINER END ======= */


  .nearEventsContainer {
    @include flexBox(column, center, center);
  }

  .upcomingEventsContainer {
    @include flexBox(column, center, center);
  }
}



