@import "../mixins";
@import "../universalStyles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

button {
  cursor: pointer;
}

/* ================ START OF NAV ==================== */

nav {
  @include flexBox(row, space-between, center);
  margin: 0 3% 0 1%;
}

/* ======= LOGO CONTAINER START ======= */

/* ======= LOGO CONTAINER END ======= */

/* ======= SEARCH CONTAINER START ======= */


/* ======= SEARCH CONTAINER START ======= */

.searchContainer {
  @include flexBox(row, center, center);

  .searchForm {
    @include flexBox(row, center, center);
  }

  #searchInput {
    width: 20vw;
    border-right: none;
    outline: none;
    padding: 12px 5px 12px 37px;
    border: 1px solid #d9d9d9;
    border-radius: 8px 0 0 8px;
    font-size: 1.6rem;
  }

  #searchCityInput {
    width: 20vw;
    border-right: none;
    outline: none;
    padding: 12px 20px;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    font-size: 1.6rem;
  }

  .searchLabel {
    position: relative;
  }

  #searchIcon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
  }

  .searchBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #f65858;
  }
}

/* ======= SEARCH CONTAINER END ======= */

/* ======= RIGHT CONTAINER START ======= */

.rightNavContainer {
  @include flexBox(row, space-between, center);
  gap: 21px;

  .switchLangBtn {
    background-color: #ffffff;
    border: none;
    @include flexBox(row, center, center);
    gap: 4px;
    font-size: 1.4rem;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 1.4rem;
  }

  .signUpBtn {
    background-color: #00798a;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.4rem;
  }
}
/* ======= RIGHT CONTAINER END ======= */

/* ================ END OF NAV ==================== */



/* ================ START OF MAIN PAGE ==================== */

main {
  @include flexBox(column, center, center);
  padding: 0 10% 0 10%;
}


/* ======= ABOUT US CONTAINER START ======= */
.aboutUsContainer {
  @include flexBox(row, space-between, center);
  width: 100%;
  //max-width: 1140px;
  //margin: 5% 10%;
  gap: 45px;


  .aboutUsInfoContainer {
    @include flexBox(column, center, start);
    gap: 24px;
    width: 50%;
    h1 {
      font-size: 4.2rem;
    }

    p {
      font-size: 1.6rem;
    }

    a {
      background-color: #00798A;
      color: #ffffff;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 8px;
      font-size: 1.6rem;
    }
  }
}
/* ======= ABOUT US CONTAINER END ======= */


/* ======= EVENTS CONTAINER START ======= */
.eventsContainer {
  @include flexBox(row, space-between, center);
  //max-width: 1140px;
  width: 100%;

  .leftEventContainer {
    @include flexBox(row, space-between, center);
    gap: 25px;

    h3 {
      font-size: 2.8rem;
    }

    button {
      background-color: #97CAD11F;
      border: none;
      border-radius: 8px;
      @include flexBox(row, center, center);
      gap: 8px;
      padding: 12px 12px 8px 12px;

      span {
        font-size: 2.0rem;
        color: #00798A;
      }
    }
  }

  .seeAllEventsContainer {
    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #00798A;
    }
  }
}


/* ======= EVENTS CONTAINER END ======= */


/* ======= NEAR EVENTS CONTAINER START ======= */

.nearEventsContainer {
  @include flexBox(row, space-between, normal);
  flex-wrap: wrap;
  gap: 36px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
  //margin: 24px 100px 0 100px;

  div {
    padding-bottom: 10px;
    max-width: 272px;
    max-height: 400px;
  }

  hr {
    display: none;
  }

  .eventInfoContainer {
    @include flexBox(column, center, start);
    gap: 10px;
    h4 {
      font-size: 2.0rem;
    }

    p {
      font-size: 1.4rem;
      color: #212121;
    }

    .eventLocationInfo {
      color: #707070;
    }

    .eventDateInfo:before {
      content: url("/assets/mainPage/main/calendar_icon.svg");
      @include iconInlineAlign();
    }

    .additionEventInfoContainer {
      @include flexBox(row, start, center);
      gap: 16px;
      .membersWaitingInfo {
        font-size: 1.6rem;
        &:before {
          content: url("/assets/mainPage/main/check_icon.svg");
           @include iconInlineAlign();
        }
      }

      .paidInfo {
        font-size: 1.6rem;
        &:before {
          content: url("/assets/mainPage/main/ticket_icon.svg");
           @include iconInlineAlign();
        }
      }
    }
  }
}


/* ======= NEAR EVENTS CONTAINER END ======= */

/* ======= UPCOMING EVENTS CONTAINER START ======= */
.upcomingEventsContainer {
  @extend .nearEventsContainer;
}
/* ======= UPCOMING EVENTS CONTAINER END ======= */

/* ======= JOIN CONTAINER START ======= */
.joinContainer {

  display: grid;
  grid-template-columns: 2fr 1fr;//Колонки( вверх/вниз)
  column-gap: 20px;
  background-color: #97CAD114;
  border-radius: 8px;
  padding: 16px 56px;
  margin-bottom: 64px;

  #joinImg {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: end;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;

    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  button {
    width: 192px;
    height: 40px;
    border: none;
    background-color: #E32359;
    color: #ffffff;
    padding: 8px 66px;
    border-radius: 8px;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    font-size: 1.6rem;
  }
}
/* ======= JOIN CONTAINER END ======= */


/* ======= TOP CATEGORIES CONTAINER START ======= */

.topCategoriesContainer {
  margin-bottom: 24px;
  h2 {
    font-size: 2.8rem;
    margin-bottom: 24px;
  }
}

.topCategoriesList {
  @include flexBox(row, center, normal);
  flex-wrap: wrap;
  gap: 16px;

  div {
    width: 135px;
    height: 112px;
    background-color: #97CAD114;
    border-radius: 8px;
    @include flexBox(column, center, center);
    gap: 6px;
    padding: 16px;

    p {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}

/* ======= TOP CATEGORIES CONTAINER END ======= */
/* ================ END OF MAIN PAGE ==================== */