.text500 {
  font-weight: 500;
}

.text600 {
  font-weight: 600;
}

.text700 {
  font-weight: 700;
}

.text800 {
  font-weight: 800;
}

.text900 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

button {
  cursor: pointer;
}

/* ================ START OF NAV ==================== */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3% 0 1%;
}

/* ======= LOGO CONTAINER START ======= */
/* ======= LOGO CONTAINER END ======= */
/* ======= SEARCH CONTAINER START ======= */
/* ======= SEARCH CONTAINER START ======= */
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchContainer .searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchContainer #searchInput {
  width: 20vw;
  border-right: none;
  outline: none;
  padding: 12px 5px 12px 37px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
  font-size: 1.6rem;
}
.searchContainer #searchCityInput {
  width: 20vw;
  border-right: none;
  outline: none;
  padding: 12px 20px;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-right: none;
  font-size: 1.6rem;
}
.searchContainer .searchLabel {
  position: relative;
}
.searchContainer #searchIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}
.searchContainer .searchBtn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #f65858;
}

/* ======= SEARCH CONTAINER END ======= */
/* ======= RIGHT CONTAINER START ======= */
.rightNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
}
.rightNavContainer .switchLangBtn {
  background-color: #ffffff;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
}
.rightNavContainer a {
  text-decoration: none;
  color: #000000;
  font-size: 1.4rem;
}
.rightNavContainer .signUpBtn {
  background-color: #00798a;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1.4rem;
}

/* ======= RIGHT CONTAINER END ======= */
/* ================ END OF NAV ==================== */
/* ================ START OF MAIN PAGE ==================== */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 10%;
}

.eventMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 78px;
  width: 100%;
}
.eventMainContainer div .eventsHeader2Container {
  width: max-content;
  margin-bottom: 12px;
}
.eventMainContainer div .eventsHeader2Container #eventsHeader2 {
  color: #00798A;
  border-bottom: 4px solid #00798A;
}

.eventsFiltersContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

/* ======= FILTERS START ======= */
.selectMenu {
  z-index: 1; /* Ensure the selectMenu is above other content */
  flex: 0 0 auto;
  position: relative;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  background-color: #F6F7F8;
  border-radius: 40px;
  transition: border-radius 0.5s;
}
.selectMenu[data-state=active] {
  border-radius: 20px 20px 0 0;
}
.selectMenu[data-state=active] .selectMenuEventTitle::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}
.selectMenu[data-state=active] .selectMenuEventTitle::after {
  transform: translate(3px, -50%) rotate(45deg);
}
.selectMenu[data-state=active] .selectMenuEventContent {
  opacity: 1;
}
.selectMenu[data-state=active] .__select__label + .__select__input + .__select__label {
  background-color: #F6F7F8;
  max-height: 40px;
  border-top-width: 1px;
}

.selectMenuEventTitle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Ensure the pseudo-elements are positioned correctly */
}
.selectMenuEventTitle::before, .selectMenuEventTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  transition: all 0.3s ease-out;
  background-color: #333333;
  transform: translate(-3px, -50%) rotate(45deg);
}
.selectMenuEventTitle::after {
  transform: translate(3px, -50%) rotate(-45deg);
}

.selectMenuEventContent {
  position: absolute; /* Absolute positioning relative to the selectMenu */
  top: 100%; /* Align the top of the dropdown with the bottom of the selectMenu */
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}
.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
.__select__label + input + .__select__label {
  border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.__select__label:hover {
  background-color: #D8093A !important;
  color: #ffffff;
}

/* ======= FILTERS END ======= */
/* ======= NEAR EVENTS CONTAINER START ======= */
/* ======= MAP CONTAINER START ======= */
.mapContainer {
  max-width: 100%;
}
.mapContainer img {
  max-width: 100%;
}

/* ======= MAP CONTAINER END ======= */
/* ======= EVENTS LIST START ======= */
.eventsList {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 20pxpx;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
}
.eventsList .eventContainer {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  max-width: 100%;
  gap: 12px;
  margin-top: 16px;
  padding-bottom: 10px;
  max-height: 400px;
}
.eventsList .eventContainer img {
  width: 160px;
  height: 100px;
}
.eventsList .eventContainer .eventInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4px;
}
.eventsList .eventContainer .eventInfoContainer .eventDateInfo {
  font-size: 1.4rem;
  color: #7C6F50;
}
.eventsList .eventContainer .eventInfoContainer h4 {
  font-size: 1.6rem;
}

/* ======= EVENTS LIST END ======= */
/* ================ END OF MAIN PAGE ==================== */
/* ================ START OF FOOTER ==================== */
footer {
  background-color: #212121;
  padding: 35px 195px;
}

.footerInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #707070;
}
.footerInfoContainer h4 {
  font-size: 1.6rem;
  color: #ffffff;
}
.footerInfoContainer button {
  border-radius: 6px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 10px 25px 10px 14px;
}

.footerLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 24px;
}
.footerLinksContainer div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 7px;
}
.footerLinksContainer div h4 {
  font-size: 1.6rem;
  color: #F6F7F8;
}
.footerLinksContainer div a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #C5C4C4;
}

.followsLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  flex-wrap: wrap;
}
.followsLinks .followContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.followsLinks .followContainer h4 {
  font-size: 1.6rem;
  color: #F6F7F8;
}
.followsLinks .socialPagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 24px;
  gap: 35px;
}
.followsLinks .downloadsStoresContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.footerAdditionInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.footerAdditionInfoContainer p {
  font-size: 1.4rem;
  color: #ffffff;
}
.footerAdditionInfoContainer a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #C5C4C4;
}

/* ================ END OF FOOTER ==================== */

/*# sourceMappingURL=eventsPageStyle.css.map */
