.text500 {
  font-weight: 500;
}

.text600 {
  font-weight: 600;
}

.text700 {
  font-weight: 700;
}

.text800 {
  font-weight: 800;
}

.text900 {
  font-weight: 900;
}

/* ================ START OF MAIN PAGE ==================== */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 10%;
}

.eventMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 78px;
  gap: 5px;
}
.eventMainContainer div .eventsHeader2Container {
  width: max-content;
  margin-bottom: 12px;
}
.eventMainContainer div .eventsHeader2Container #eventsHeader2 {
  border-bottom: 4px solid #00798a;
  color: #00798a;
}

.eventsFiltersContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

/* ======= FILTERS START ======= */
.selectMenu {
  width: 150px;
  height: 40px;
  background-color: #F6F7F8;
  border-radius: 40px;
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  font-size: 1.4rem;
  font-weight: 500;
}
.selectMenu[data-state=active] {
  border-radius: 20px 20px 0 0;
}
.selectMenu[data-state=active] .selectMenuEventTitle::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}
.selectMenu[data-state=active] .selectMenuEventTitle::after {
  transform: translate(3px, -50%) rotate(45deg);
}
.selectMenu[data-state=active] .selectMenuEventContent {
  opacity: 1;
}
.selectMenu[data-state=active] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  background-color: #F6F7F8;
  border-top-width: 1px;
}
.selectMenu:hover {
  transform: scale(1.1);
}

.selectMenuEventTitle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.selectMenuEventTitle::before, .selectMenuEventTitle::after {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #333333;
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transition: all 0.3s ease-out;
  transform: translate(-3px, -50%) rotate(45deg);
}
.selectMenuEventTitle::after {
  transform: translate(3px, -50%) rotate(-45deg);
}

.selectMenuEventContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  z-index: 8;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.__select__input {
  display: none;
}
.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.__select__label + input + .__select__label {
  border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}

/* ======= FILTERS END ======= */
/* ======= NEAR EVENTS CONTAINER START ======= */
/* ======= MAP CONTAINER START ======= */
.mapContainer {
  max-width: 100%;
}
.mapContainer h2 {
  font-size: 2rem;
}
.mapContainer p {
  font-size: 1.4rem;
}
.mapContainer .google_map {
  max-width: 100%;
}

/* ======= MAP CONTAINER END ======= */
/* ======= EVENTS LIST START ======= */
.eventsList {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  width: 80%;
  margin-top: 24px;
  margin-bottom: 36px;
  gap: 20px;
}
.eventsList .border {
  border: 1px solid #D9D9D9;
}
.eventsList .eventContainer {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  max-width: 100%;
  max-height: 400px;
  padding-bottom: 10px;
  margin-top: 16px;
  gap: 12px;
  transition: all 0.5s ease;
}
.eventsList .eventContainer:hover {
  transform: scale(1.1);
}
.eventsList .eventContainer .eventImageContainer {
  position: relative;
}
.eventsList .eventContainer .eventImage {
  width: 160px;
  height: 100px;
  border-radius: 8px;
}
.eventsList .eventContainer .eventBadge {
  width: max-content;
  background-color: #ffffff;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.eventsList .eventContainer .eventBadge .eventBadgeType {
  color: #707070;
}
.eventsList .eventContainer .eventBadge .eventBadgeType:before {
  content: url("/assets/eventsPage/camera_icon.svg");
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
}
.eventsList .eventContainer .eventBadge.hidden {
  display: none;
}
.eventsList .eventContainer .eventInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 100%;
  gap: 4px;
}
.eventsList .eventContainer .eventInfoContainer .eventDateInfo {
  font-size: 1.4rem;
  color: #7C6F50;
}
.eventsList .eventContainer .eventInfoContainer .eventTitleHeader {
  font-size: 1.6rem;
}
.eventsList .eventContainer .eventInfoContainer .eventType {
  display: none;
}
.eventsList .eventContainer .eventInfoContainer .eventLocationInfo {
  font-size: 1.4rem;
}
.eventsList .eventContainer .eventInfoContainer .eventAttendees {
  margin-top: 28px;
  font-size: 1.4rem;
}
.eventsList .eventContainer .eventInfoContainer .eventAttendees:after {
  content: " attendees";
}

/* ======= EVENTS LIST END ======= */
/* ================ END OF MAIN PAGE ==================== */

/*# sourceMappingURL=eventsPageStyle.css.map */
