@import "../mixins";
@import "../universalStyles";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}





html {
  font-size: 10px;
}

button {
  cursor: pointer;
}

/* ================ START OF NAV ==================== */

nav {
  @include flexBox(row, space-between, center);
  margin: 0 3% 0 1%;
}

/* ======= LOGO CONTAINER START ======= */

/* ======= LOGO CONTAINER END ======= */

/* ======= SEARCH CONTAINER START ======= */


/* ======= SEARCH CONTAINER START ======= */

.searchContainer {
  @include flexBox(row, center, center);

  .searchForm {
    @include flexBox(row, center, center);
  }

  #searchInput {
    width: 20vw;
    border-right: none;
    outline: none;
    padding: 12px 5px 12px 37px;
    border: 1px solid #d9d9d9;
    border-radius: 8px 0 0 8px;
    font-size: 1.6rem;
  }

  #searchCityInput {
    width: 20vw;
    border-right: none;
    outline: none;
    padding: 12px 20px;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    font-size: 1.6rem;
  }

  .searchLabel {
    position: relative;
  }

  #searchIcon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
  }

  .searchBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #f65858;
  }
}

/* ======= SEARCH CONTAINER END ======= */

/* ======= RIGHT CONTAINER START ======= */

.rightNavContainer {
  @include flexBox(row, space-between, center);
  gap: 21px;

  .switchLangBtn {
    background-color: #ffffff;
    border: none;
    @include flexBox(row, center, center);
    gap: 4px;
    font-size: 1.4rem;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 1.4rem;
  }

  .signUpBtn {
    background-color: #00798a;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.4rem;
  }
}
/* ======= RIGHT CONTAINER END ======= */

/* ================ END OF NAV ==================== */



/* ================ START OF MAIN PAGE ==================== */

main {
  @include flexBox(column, center, center);
  padding: 0 10% 0 10%;

}

.eventMainContainer {
  @include flexBox(row, space-between, start);
  margin-top: 78px;
  width: 100%;

  div {

    .eventsHeader2Container {
      width: max-content;
      margin-bottom: 12px;
      #eventsHeader2 {
        color: #00798A;
        border-bottom: 4px solid #00798A;
      }
    }
  }
}

.eventsFiltersContainer {
  @include flexBox(row, start, start);
  gap: 10px;

}


/* ======= FILTERS START ======= */

.selectMenu {
  z-index: 1; /* Ensure the selectMenu is above other content */
  flex: 0 0 auto;

  position: relative;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  background-color: #F6F7F8;
  border-radius: 40px;
  transition: border-radius 0.5s;
  &[data-state="active"] {
    border-radius: 20px 20px 0 0;

    .selectMenuEventTitle {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .selectMenuEventContent {
      opacity: 1;
    }

    .__select__label + .__select__input + .__select__label {
      background-color: #F6F7F8;
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}

.selectMenuEventTitle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Ensure the pseudo-elements are positioned correctly */
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

}

.selectMenuEventContent {
  //position: fixed; /* Fixed positioning to stay in view */
  position: absolute; /* Absolute positioning relative to the selectMenu */
  top: 100%; /* Align the top of the dropdown with the bottom of the selectMenu */
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;

  transition: all 0.2s ease-out;

  cursor: pointer;

  overflow: hidden;

  & + input + & {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    background-color: #D8093A !important;

    color: #ffffff;
  }
}

/* ======= FILTERS END ======= */

/* ======= NEAR EVENTS CONTAINER START ======= */


/* ======= MAP CONTAINER START ======= */
.mapContainer {
  max-width: 100%;
  img {
    max-width: 100%;
  }
}
/* ======= MAP CONTAINER END ======= */

/* ======= EVENTS LIST START ======= */
.eventsList {
  @include flexBox(column, normal, normal);

  gap: 20pxpx;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
  //margin: 24px 100px 0 100px;

    .eventContainer {
      @include flexBox(row, normal, normal);
      max-width: 100%;
      gap: 12px;
      padding-bottom: 10px;
      //max-width: 272px;
      max-height: 400px;

      img {
        width: 160px;
        height: 100px;
      }

      .eventInfoContainer {
        @include flexBox(column, start, start);
        gap: 4px;
        .eventDateInfo {
          font-size: 1.4rem;
          color: #7C6F50;
        }

        h4 {
          font-size: 1.6rem;
        }
      }
    }

}


/* ======= EVENTS LIST END ======= */








/* ================ END OF MAIN PAGE ==================== */



/* ================ START OF FOOTER ==================== */
footer {
  background-color: #212121;
  padding: 35px 195px;


}


.footerInfoContainer {
  @include flexBox(row, start, center);
  //flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #707070;

  h4 {
    font-size: 1.6rem;
    color: #ffffff;
  }

  button {
    border-radius: 6px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    padding: 10px 25px 10px 14px;
    //margin-bottom: 25px;
  }
}

.footerLinksContainer {
  @include flexBox(row, start, start);
  margin-top: 24px;
  //flex-wrap: wrap;
  div {
    @include flexBox(column, start, start);
    width: 100%;
    gap: 7px;
    h4 {
      font-size: 1.6rem;
      color: #F6F7F8;
    }

    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: #C5C4C4;
    }
  }
}


.followsLinks {
  @include flexBox(row, space-between, center);
  margin-top: 24px;
  flex-wrap: wrap;

  .followContainer {
    @include flexBox(column, center, start);

    h4 {
      font-size: 1.6rem;
      color: #F6F7F8;
    }
  }

  .socialPagesContainer {
    @include flexBox(row, space-between, center);
    margin-top: 12px;
    margin-bottom: 24px;
    gap: 35px;
  }

  .downloadsStoresContainer {
    @include flexBox(row, space-between, center);
    gap: 24px;
    margin-bottom: 24px;
  }
}

.footerAdditionInfoContainer {
  @include flexBox(row, start, center);

  flex-wrap: wrap;
  gap: 24px;
  p {
    font-size: 1.4rem;
    color: #ffffff;
  }

  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #C5C4C4;
  }
}
//35px 25px
/* ================ END OF FOOTER ==================== */
