@import "../mixins";
@import "../constants";

/* ================ START OF ADAPTIVE 768px ==================== */
@media screen and (max-width: 768px) {

  /* ================ START OF NAV ==================== */
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    margin: 0;
  }

  /* ======= LOGO CONTAINER START ======= */

  .logoContainer {
    margin-left: 24px;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  /* ======= LOGO CONTAINER END ======= */

  /* ======= SEARCH CONTAINER START ======= */
  .searchContainer {
    grid-column: span 2;

    #searchInput {
      width: 80vw;
      border-right: none;
    }

    #searchCityInput {
      display: none;
    }
  }
  /* ======= SEARCH CONTAINER END ======= */

  /* ======= RIGHT CONTAINER START ======= */
  .rightNavContainer {
    grid-row-start: 1;
    grid-column-start: 2;
    @include flexBox(row, end, center);
    gap: 16px;
    margin-right: 8px;

    a {
      font-size: $fzSmall;
    }
  }
  /* ======= RIGHT CONTAINER END ======= */

  /* ================ END OF NAV ==================== */

  /* ================ START OF MAIN ==================== */
  main {
    padding: 0 15px 0 15px;
  }

  .eventMainContainer {
    @include flexBox(column, center, start);
    flex-wrap: wrap;
    margin-top: 18px;
    .eventMainSubContainer {
      width: $width100;
    }
  }

  .eventsList {
    width: $width100;
  }

  /* ================ END OF MAIN ==================== */




  /* ================ START OF FOOTER ==================== */
  footer {
    padding: 35px 25px;
  }
  /* ================ END OF FOOTER ==================== */
}
/* ================ END OF ADAPTIVE 768px ==================== */

/* ================ START OF ADAPTIVE 426px ==================== */
@media screen and (max-width: 426px) {

  /* ================ START OF MAIN ==================== */

  .eventsFiltersContainer {
    padding-bottom: 10px;
    //overflow-y: auto;
    overflow-x: scroll;
  }



  .mapContainer {
    display: none;
  }

  /* ======= EVENTS LIST START ======= */
  .eventsList {


    .eventContainer {
      @include flexBox(row, normal, normal);

      max-height: 400px;
      margin-top: 16px;

      .eventImage {
        width: 98px;
        height: 55px;
      }

      .eventBadge {
        display: none;
      }

      .eventBadge.hidden {
        display: none;
      }

      .eventInfoContainer {
        @include flexBox(column, start, start);
        //gap: 4px;
        max-width: 80%;
        .eventDateInfo {
          font-size: 1.0rem;
          //color: #7C6F50;
        }
        .eventTitleHeader {
          font-size: 1.0rem;
        }
        .eventType {
          color: #707070;
          display: initial;
        }
        .eventType:before {
          content: url("/assets/eventsPage/camera_icon.svg");
          @include iconInlineAlign(3px);
        }

        .eventType:after {
          content: " Event";
        }

        .eventAttendees {
          display: none;
        }
      }
    }

  }


  /* ======= EVENTS LIST END ======= */


  /* ================ END OF MAIN ==================== */


  /* ================ START OF FOOTER ==================== */

  .footerInfoContainer {
    gap: 5px;
  }

  .footerLinksContainer {
    gap: 5px;
  }

  .followsLinks {
    .downloadsStoresContainer {
      display: none;
    }

  }
  .footerAdditionInfoContainer {
    a {
      display: none;
    }
  }

  /* ================ END OF FOOTER ==================== */
}
/* ================ END OF ADAPTIVE 426px ==================== */
//@media screen and (min-width: 600px)