//BACKGROUND COLOR CONSTANTS
$aquaBlueBg: #00798a;
$whiteBg: #ffffff;
$darkGrayBg: #212121;
$grayBg: #707070;

//FONT COLOR CONSTANTS
$aquaBlueFont: #00798a;
$whiteFont: #ffffff;
$darkGrayFont: #212121;
$grayFont: #707070;

//OTHER CONSTANTS
$borderRadius8x: 8px;
$marginT: 24px;
$marginB: 24px;
$width100: 100%;

$fzBig28: 2.8rem;
$fzMedium2: 2.0rem;
$fzMedium: 1.6rem;
$fzSmall: 1.2rem;

$lineHeight: 24px;