@mixin flexBox($flexDir: "row", $justifyValue: "normal", $alignValue: "normal") {
  display: flex;
  flex-direction: $flexDir;
  justify-content: $justifyValue;
  align-items: $alignValue;
}

@mixin iconInlineAlign() {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}