@import "./mixins";
@import "./universalStyles";
@import "./constants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

button {
  cursor: pointer;
}

/* ================ START OF NAV ==================== */

nav {
  @include flexBox(row, space-between, center);
  margin: 0 24px 24px 24px;
}

/* ======= LOGO CONTAINER START ======= */

/* ======= LOGO CONTAINER END ======= */

/* ======= SEARCH CONTAINER START ======= */


/* ======= SEARCH CONTAINER START ======= */

.searchContainer {
  @include flexBox(row, center, center);

  .searchForm {
    @include flexBox(row, center, center);
  }

  #searchInput {
    width: 20vw;
    padding: 12px 5px 12px 37px;
    border-right: none;
    border: 1px solid #d9d9d9;
    border-radius: $borderRadius8x 0 0 $borderRadius8x;
    outline: none;
    font-size: 1.6rem;
  }

  #searchCityInput {
    width: 20vw;
    padding: 12px 20px;
    border-right: none;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 1.6rem;
  }

  .searchLabel {
    position: relative;
  }

  #searchIcon {
    padding-left: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .searchBtn {
    width: 45px;
    height: 45px;
    background-color: #f65858;
    border: none;
    border-radius: 0 $borderRadius8x $borderRadius8x 0;
  }
}

/* ======= SEARCH CONTAINER END ======= */

/* ======= RIGHT CONTAINER START ======= */

.rightNavContainer {
  @include flexBox(row, space-between, center);
  gap: 21px;

  .switchLangBtn {
    @include flexBox(row, center, center);
    background-color: $whiteBg;
    border: none;
    gap: 4px;
    font-size: 1.4rem;
  }

  a {
    font-size: 1.4rem;
    color: #000000;
    text-decoration: none;
  }

  .signUpBtn {
    background-color: $aquaBlueBg;
    padding: 8px 16px;
    border: none;
    border-radius: $borderRadius8x;
    font-size: 1.4rem;
    color: $whiteFont;
  }
}
/* ======= RIGHT CONTAINER END ======= */

/* ================ END OF NAV ==================== */



/* ================ START OF FOOTER ==================== */
footer {
  background-color: $darkGrayBg;
  padding: 35px 195px;
  margin-top: 40px;
}


.footerInfoContainer {
  @include flexBox(row, start, center);
  width: $width100;
  padding-bottom: 25px;
  border-bottom: 1px solid #707070;
  gap: 16px;

  h4 {
    font-size: 1.6rem;
    color: $whiteFont;
  }

  button {
    background-color: transparent;
    padding: 10px 25px 10px 14px;
    border-radius: 6px;
    border: 2px solid $whiteFont;
    color: $whiteFont;
  }
}

.footerLinksContainer {
  @include flexBox(row, start, start);
  margin-top: 24px;

  div {
    @include flexBox(column, start, start);
    width: 100%;
    gap: 7px;
    h4 {
      font-size: 1.6rem;
      color: #F6F7F8;
    }

    a {
      font-size: 1.4rem;
      color: #C5C4C4;
      text-decoration: none;
    }
  }
}


.followsLinks {
  @include flexBox(row, space-between, center);
  margin-top: 24px;
  flex-wrap: wrap;

  .followContainer {
    @include flexBox(column, center, start);

    h4 {
      font-size: 1.6rem;
      color: #F6F7F8;
    }
  }

  .socialPagesContainer {
    @include flexBox(row, space-between, center);
    margin-top: 12px;
    margin-bottom: 24px;
    gap: 35px;
  }

  .downloadsStoresContainer {
    @include flexBox(row, space-between, center);
    gap: 24px;
    margin-bottom: 24px;
  }
}

.footerAdditionInfoContainer {
  @include flexBox(row, start, center);
  flex-wrap: wrap;
  gap: 24px;
  p {
    font-size: 1.4rem;
    color: $whiteFont;
  }

  a {
    font-size: 1.4rem;
    color: #C5C4C4;
    text-decoration: none;
  }
}

/* ================ END OF FOOTER ==================== */